<%-include('template/header');-%>
    <h2>hello</h2>
    <ul>

        <%student.forEach((student)=>{%>
        <li>
            <%=student.name%> and his age is <%=student.age%>
        </li>

        <%})%>
    </ul>
    <%-include('template/footer');-%>
