<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
<style>

    body{
        background-color: red;
    }
    h1{
        color: yellow;
    }
    h2{
        color: gray;
    }
    h3{
        color: brown;
    }
    h4{
        color: blueviolet;
    }
    h5{
        color: antiquewhite;
    }
    h6{
        color: red;
    }
    p{
        color: chocolate;
        background-color: blue;
    }
    ul{
        color: violet;
        background-color: black;
    }
</style>



</head>

<body>